@model MovieFu.Models.Rating

@{
    ViewBag.Title = "Movie Search";
}

<h2>Search for a Movie</h2>

<input type="text" id="search-text" />

<div id="search-result"></div>

@if (false)
{
        <script src="../../Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
}


<script  type="text/javascript">
    $(function () {
        $("#search-text").keyup(function () {
            var searchTerm = $("#search-text").val();
            if (searchTerm.length > 0) {
                $.post(
                "search/findmovies",
                { searchText: searchTerm },
                function (data) {
                $("#search-result").html(data);
            });
            }
        });
    });
</script>
